
h1 {
  font-size: 20px;
}


.navbar {
  border-bottom: solid 3px rgba(97, 93, 93, 0.405);
  color: rgb(46, 0, 57);
  font-weight:900;
  font-size: larger;
  min-height: 40px;
  margin-top: 10px;
  padding-left: 20px;
}

.footer {
  height: 40px;
  background-color: rgb(46, 0, 57);
  color:white;
  font-weight: 100;
  font-size: smaller;
  display: flex;
  justify-content:space-evenly;
  margin-top: 150px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.container {
  margin: 0 20px;
 
}
.mainContainer {
  background-color: rgb(46, 0, 57);
  border-radius: 20px;
  color: white;
  width: 100%;
  box-shadow: 0px 0px 10px 3px rgb(173, 164, 164);
  margin-top: 25px;
}

.compact {
  margin: 20px;
  padding-bottom: 20px;
}

.converterContainer {
  display: flex;
}

.inputContainer {
  display: flex;
}

.converter {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.722);
  border:none;
  border-bottom: solid 2px white;
  width: 60%;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size:medium;
}

.input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.722);
  border:none;
  border-bottom: solid 2px white;
  text-align: right;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size:medium;
}

.favorite {
  display: flex;
  justify-content: space-between;
  font-weight:bold;
  padding-right: 70px;
  font-size:larger;
  width: 70%;
}

.arrows {
  background-color: transparent;
  border: none;
  color: white;
  font-size: larger;
  margin-top: 18px;
}

.fromUnit {
  padding-top: 18px;
}

.emoticon {
  background-color: transparent;
  border: none;
  color: white;
  font-size: x-large;
}

.savedDiv {
  background-color: rgba(240, 248, 255, 0.367);
  color: black;
  border-radius: 10px;
  width: auto;
  height: 50px;
}

.savedUnits {
  margin-top: 50px;
  color:grey;
  font-size:large;
  font-weight: bolder;
}

@media screen and (min-width: 800px) {

  p {
    padding-left: 45px;
  }

  .navbar {
    border-bottom: solid 3px rgba(97, 93, 93, 0.405);
    color: rgb(46, 0, 57);
    font-weight:900;
    font-size: larger;
    min-height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .navText {
    width: 70%;
  }

  .footer {
    height: 40px;
    background-color: rgb(46, 0, 57);
    color:white;
    font-weight: 100;
    font-size: smaller;
    display: flex;
    justify-content:center;
    margin-top: 150px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
  }

  .container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .componentContainer {
    display: flex;
    justify-content:space-evenly;
  }
  
  .mainContainer {
    background-color: rgb(46, 0, 57);
    border-radius: 20px;
    color: white;
    width: 70%;
    box-shadow: 0px 0px 10px 3px rgb(173, 164, 164);
    margin-top: 25px;
  }

  .compact {
    margin: 30px;
    padding-bottom: 20px;
  }

  .converterContainer {
    width: 50%;
  }
  
  .inputContainer {
    width: 50%;
  }

  .converter {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.722);
    border:none;
    border-bottom: solid 2px white;
    font-size:medium;
    width: 70%;
    margin-bottom: 0px;
    margin-right: 5px;
  }
  
  .input {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.722);
    border:none;
    border-bottom: solid 2px white;
    text-align: right;
    font-size:medium;
    width: 70%;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .favorite {
    display: flex;
    justify-content:space-between;
    font-weight:bold;
    font-size:larger;
    padding-right: 0px;
    width: 90%;
    margin-top: 30px;
  }

  .arrows {
    background-color: transparent;
    border: none;
    color: white;
    font-size: larger;
    margin-top: 18px;
  }
  
  .fromUnit {
    padding-top: 18px;
  }
  
  .emoticon {
    background-color: transparent;
    border: none;
    color: white;
    font-size: x-large;
  }
  
  .savedDiv {
    background-color: rgba(240, 248, 255, 0.367);
    color: black;
    border-radius: 10px;
    width: auto;
    height: 50px;
    align-items: start;
    
  }
  
  .savedUnits {
    margin-top: 50px;
    color:grey;
    font-size:large;
    font-weight: bolder;
    width: 70%;
  }













}
